.topnav {
    overflow: hidden;
    background: #fffffb;
    height: 100vh;
    width: 18%;
    display: flex;
    flex-direction: column;
    z-index: 11;

    .contact-information {
        margin-left: 15px;
        margin-top: 35px;
        padding: 0 5px 0 0px;
    }

    .container {
        padding-top: 9px;
        padding-left: 25px;
        //margin-bottom: 15px;

        .sub-item-na {
            display: flex;
            cursor: pointer;
            margin-bottom: 15px;

            padding: 5px 8px;
            width: 189px;
            justify-content: start;
            align-items: center;
            margin-left: 8px;
            font-size: 20px;
            position: relative;

            .setting-all {
                width: fit-content;
                display: flex;
                justify-self: start;
                align-items: center;

                //  text-align: center;
                .fa-caret-down {
                    margin-right: 0px;
                }

            }

            i {
                font-size: 20px;
                margin-right: 42px;
                width: 25px;
            }

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                &:hover {
                    background: rgba($color: #cdc6c6, $alpha: 0.75);
                    border-radius: 5px;
                }
            }
        }

        .setting {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: fit-content;
            padding-left: 70px;

            .setting-device {
                display: flex;
                align-items: center;
                padding: 2px;
                gap: 5px;
                width: 129px;
                font-size: 16px;
                cursor: pointer;
                position: relative;
                padding: 5px;
                padding-left: 8px;
                border-left: 1px solid rgb(198, 194, 194);

                .image-setting-device {

                    background: url(../../assets/images/wrench.png);
                    width: 17.5px;
                    height: 15px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                }

                &:hover {
                    background: #cdc6c6;
                    border-radius: 5px;
                }
            }
        }
    }

}